/* .App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

.circle {
  position: relative;
  width: 100px;
  height: 100px;
  border: 8px solid rgba(0, 122, 255, 0.5);
  border-top: 8px solid rgba(0, 122, 255, 1);
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 122, 255, 0.5);
}

.wave {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

.circle {
  position: relative;
  width: 100px;
  height: 100px;
  border: 8px solid rgba(0, 122, 255, 0.5); /* Default border color */
  border-top: 8px solid rgba(0, 122, 255, 1); /* Default top border color */
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 122, 255, 0.5); /* Default box-shadow */
}

.circle.speaking {
  border-color: rgba(255, 0, 0, 0.5); /* Red border color */
  border-top-color: rgba(255, 0, 0, 1); /* Red top border color */
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.5); /* Red box-shadow */
}

.wave {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
